apiVersion: apps/v1
kind: Deployment
metadata:
  name: result
  labels:
    app: result
    app.kubernetes.io/name: result
    app.kubernetes.io/component: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
        app.kubernetes.io/name: result
    spec:
      serviceAccountName: result-sa
      containers:
        - name: result
          image: PLACEHOLDER_RESULT_IMAGE
          ports:
            - containerPort: 80
              name: http
          env:
            - name: NEW_RELIC_APP_NAME
              value: "opseravote1-result-dev"
            - name: NEW_RELIC_ENVIRONMENT
              value: "dev"
          envFrom:
            - configMapRef:
                name: opseravote1-config
            - secretRef:
                name: newrelic-license
                optional: true
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
